In [133]:
import pandas as pd

In [134]:
df_lead = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/LQT Weekly Report/lead_data.csv")
df_note = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/LQT Weekly Report/crm_note.csv")
df_task = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/LQT Weekly Report/crm_task.csv")
df_first_lqt_agent = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/LQT Weekly Report/first_lqt_agent.csv")

/var/folders/82/0mjwyp6n4ql3yr64dnns9_9r0000gp/T/ipykernel_17017/3691744241.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_note = pd.read_csv("/Users/ASL-USER/Documents/Uniacco/LQT Weekly Report/crm_note.csv")

In [119]:
df_lead = df_lead[df_lead['lqt_agent'] != 'Squad Stack']

In [136]:
df_lead

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,utm_campaign,utm_medium,source,to_be_considered
0,336116,2024-03-01T01:06:56.950898,LOST,Squad Stack,UK,Mumbai - HO,NaN,NaN,google,NaN,src-generic-core-city-tg-uk-geo-mumbai-wan,cpc,get-expert-support-2,1
1,336124,2024-03-01T01:26:24.215058,LOST,Squad Stack,UK,Delhi,NaN,NaN,google,NaN,src-generic-core-tg-uk-geo-delhi-wan,cpc,get-expert-support-2,1
2,336223,2024-03-01T10:57:15.433317,LOST,Harsh Sharma,USA,Hyderabad,LOST,2024-03-01T11:59:41.44178,bing,NaN,src-generic-core-tg-usa-geo-hyderabad,cpc,get-expert-support-hyderabad,1
3,336261,2024-03-01T12:09:46.109363,LOST,Shreeya Dalvi,Ireland,Mumbai - HO,LOST,2024-03-02T18:14:20.444678,google,NaN,src-generic-degree-masters-tg-uk-geo-mumbai-wan,cpc,get-expert-support-2,1
4,336279,2024-03-01T12:37:06.709012,LOST,Shreeya Dalvi,Australia,Delhi,LOST,2024-03-01T12:46:57.091509,inf,NaN,youtube,ishaan-arora,50-sec-ad-modalform,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,393258,2024-04-09T22:45:23.893414,CREATED,Squad Stack,UK,Bengaluru,NaN,NaN,google,NaN,src-generic-degree-masters-courses-tg-all-geo-...,cpc,get-expert-support-chennai,1
16646,393318,2024-04-10T02:35:01.484451,CREATED,Kabir Dhameja,UK,Delhi,NaN,NaN,google,NaN,src-generic-core-tg-uk-geo-delhi,cpc,get-expert-support-2,1
16647,389364,2024-04-01T17:01:05.462549,LOST,NaN,USA,Hyderabad,LOST,2024-04-10T10:15:25.678789,google,NaN,src-generic-core-tg-usa-geo-hyderabad,cpc,get-expert-support-hyderabad,1
16648,390593,2024-04-04T05:18:31.207067,CONTACTED,Dalian Pereira,UK,Hyderabad,NaN,NaN,instagram,NaN,ig-webcon-tg-all,paid,get-expert-support-hyderabad,1
16649,391526,2024-04-06T12:11:09.552362,COUNSELLOR CONTACTED,Saurab Rao,USA,Hyderabad,QUALIFIED,2024-04-08T16:21:51.174599,google,2024-04-08T16:21:51.174599,src-generic-degree-masters-courses-tg-usa-geo-...,cpc,get-expert-support-hyderabad,1

In [137]:
import pandas as pd

# For df_lead, specifying the date format explicitly where needed
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'], errors='coerce')
df_lead['first_status_except_created_or_contacted_date'] = pd.to_datetime(df_lead['first_status_except_created_or_contacted_date'], errors='coerce')
df_lead['qualified_date'] = pd.to_datetime(df_lead['qualified_date'], errors='coerce')


# For df_note, without infer_datetime_format argument
df_note['note_created_at'] = pd.to_datetime(df_note['note_created_at'], errors='coerce')
df_note['note_updated_at'] = pd.to_datetime(df_note['note_updated_at'], errors='coerce')
df_note['note_remind_at'] = pd.to_datetime(df_note['note_remind_at'], errors='coerce')

# For df_task, similarly updated
df_task['task_created_at'] = pd.to_datetime(df_task['task_created_at'], errors='coerce')
df_task['task_updated_at'] = pd.to_datetime(df_task['task_updated_at'], errors='coerce')
df_task['task_remind_at'] = pd.to_datetime(df_task['task_remind_at'], errors='coerce')

In [138]:
df_lead.tail()

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,utm_campaign,utm_medium,source,to_be_considered
16645,393258,2024-04-09 22:45:23.893414,CREATED,Squad Stack,UK,Bengaluru,NaN,NaT,google,NaT,src-generic-degree-masters-courses-tg-all-geo-...,cpc,get-expert-support-chennai,1
16646,393318,2024-04-10 02:35:01.484451,CREATED,Kabir Dhameja,UK,Delhi,NaN,NaT,google,NaT,src-generic-core-tg-uk-geo-delhi,cpc,get-expert-support-2,1
16647,389364,2024-04-01 17:01:05.462549,LOST,NaN,USA,Hyderabad,LOST,2024-04-10 10:15:25.678789,google,NaT,src-generic-core-tg-usa-geo-hyderabad,cpc,get-expert-support-hyderabad,1
16648,390593,2024-04-04 05:18:31.207067,CONTACTED,Dalian Pereira,UK,Hyderabad,NaN,NaT,instagram,NaT,ig-webcon-tg-all,paid,get-expert-support-hyderabad,1
16649,391526,2024-04-06 12:11:09.552362,COUNSELLOR CONTACTED,Saurab Rao,USA,Hyderabad,QUALIFIED,2024-04-08 16:21:51.174599,google,2024-04-08 16:21:51.174599,src-generic-degree-masters-courses-tg-usa-geo-...,cpc,get-expert-support-hyderabad,1

In [139]:
# For df_lead
df_lead['lead_created_date'] = df_lead['lead_created_at'].dt.date
df_lead['first_status_except_created_or_contacted_date_only'] = df_lead['first_status_except_created_or_contacted_date'].dt.date
df_lead['qualified_date_only'] = df_lead['qualified_date'].dt.date

# For df_note
df_note['note_created_date'] = df_note['note_created_at'].dt.date
df_note['note_updated_date'] = df_note['note_updated_at'].dt.date
# For the 'note_remind_at' column, ensure you handle NaT values to avoid errors
df_note['note_remind_date'] = pd.to_datetime(df_note['note_remind_at'], errors='coerce').dt.date

# For df_task
df_task['task_created_date'] = df_task['task_created_at'].dt.date
df_task['task_updated_date'] = df_task['task_updated_at'].dt.date
# For the 'task_remind_at' column, ensure you handle NaT values to avoid errors
df_task['task_remind_date'] = pd.to_datetime(df_task['task_remind_at'], errors='coerce').dt.date

In [140]:
df_lead.tail()

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,utm_campaign,utm_medium,source,to_be_considered,lead_created_date,first_status_except_created_or_contacted_date_only,qualified_date_only
16645,393258,2024-04-09 22:45:23.893414,CREATED,Squad Stack,UK,Bengaluru,NaN,NaT,google,NaT,src-generic-degree-masters-courses-tg-all-geo-...,cpc,get-expert-support-chennai,1,2024-04-09,NaT,NaT
16646,393318,2024-04-10 02:35:01.484451,CREATED,Kabir Dhameja,UK,Delhi,NaN,NaT,google,NaT,src-generic-core-tg-uk-geo-delhi,cpc,get-expert-support-2,1,2024-04-10,NaT,NaT
16647,389364,2024-04-01 17:01:05.462549,LOST,NaN,USA,Hyderabad,LOST,2024-04-10 10:15:25.678789,google,NaT,src-generic-core-tg-usa-geo-hyderabad,cpc,get-expert-support-hyderabad,1,2024-04-01,2024-04-10,NaT
16648,390593,2024-04-04 05:18:31.207067,CONTACTED,Dalian Pereira,UK,Hyderabad,NaN,NaT,instagram,NaT,ig-webcon-tg-all,paid,get-expert-support-hyderabad,1,2024-04-04,NaT,NaT
16649,391526,2024-04-06 12:11:09.552362,COUNSELLOR CONTACTED,Saurab Rao,USA,Hyderabad,QUALIFIED,2024-04-08 16:21:51.174599,google,2024-04-08 16:21:51.174599,src-generic-degree-masters-courses-tg-usa-geo-...,cpc,get-expert-support-hyderabad,1,2024-04-06,2024-04-08,2024-04-08

In [141]:
# Convert the date-only columns back to datetime64 types for arithmetic operations
df_lead['lead_created_datetime'] = pd.to_datetime(df_lead['lead_created_date'])
df_lead['first_status_except_created_contacted_datetime'] = pd.to_datetime(df_lead['first_status_except_created_or_contacted_date_only'])

# Calculate the difference in days
df_lead['days_diff'] = (df_lead['first_status_except_created_contacted_datetime'] - df_lead['lead_created_datetime']).dt.days

In [142]:
df_lead.head(100)

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,utm_campaign,utm_medium,source,to_be_considered,lead_created_date,first_status_except_created_or_contacted_date_only,qualified_date_only,lead_created_datetime,first_status_except_created_contacted_datetime,days_diff
0,336116,2024-03-01 01:06:56.950898,LOST,Squad Stack,UK,Mumbai - HO,NaN,NaT,google,NaT,src-generic-core-city-tg-uk-geo-mumbai-wan,cpc,get-expert-support-2,1,2024-03-01,NaT,NaN,2024-03-01,NaT,NaN
1,336124,2024-03-01 01:26:24.215058,LOST,Squad Stack,UK,Delhi,NaN,NaT,google,NaT,src-generic-core-tg-uk-geo-delhi-wan,cpc,get-expert-support-2,1,2024-03-01,NaT,NaN,2024-03-01,NaT,NaN
2,336223,2024-03-01 10:57:15.433317,LOST,Harsh Sharma,USA,Hyderabad,LOST,2024-03-01 11:59:41.441780,bing,NaT,src-generic-core-tg-usa-geo-hyderabad,cpc,get-expert-support-hyderabad,1,2024-03-01,2024-03-01,NaN,2024-03-01,2024-03-01,0.0
3,336261,2024-03-01 12:09:46.109363,LOST,Shreeya Dalvi,Ireland,Mumbai - HO,LOST,2024-03-02 18:14:20.444678,google,NaT,src-generic-degree-masters-tg-uk-geo-mumbai-wan,cpc,get-expert-support-2,1,2024-03-01,2024-03-02,NaN,2024-03-01,2024-03-02,1.0
4,336279,2024-03-01 12:37:06.709012,LOST,Shreeya Dalvi,Australia,Delhi,LOST,2024-03-01 12:46:57.091509,inf,NaT,youtube,ishaan-arora,50-sec-ad-modalform,1,2024-03-01,2024-03-01,NaN,2024-03-01,2024-03-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,339175,2024-03-06 12:16:29.440521,LOST,Squad Stack,Australia,Bengaluru,LOST,2024-03-06 15:39:44.887980,unicreds,NaT,NaN,auto-forward,unicreds,1,2024-03-06,2024-03-06,NaN,2024-03-06,2024-03-06,0.0
96,339190,2024-03-06 12:54:11.963426,LOST,Squad Stack,UK,Mumbai - HO,LOST,2024-03-07 15:30:25.567146,bing,NaT,src-generic-course-level-tg-uk-geo-mumbai-wan,cpc,get-expert-guidance,1,2024-03-06,2024-03-07,NaN,2024-03-06,2024-03-07,1.0
97,339225,2024-03-06 14:21:05.490423,LOST,Squad Stack,UK,Hyderabad,LOST,2024-03-06 20:42:52.758203,google,NaT,src-generic-course-level-tg-all-geo-hyderabad-wan,cpc,get-expert-support-hyderabad,1,2024-03-06,2024-03-06,NaN,2024-03-06,2024-03-06,0.0
98,339234,2024-03-06 14:36:41.740549,LOST,Squad Stack,UK,Mumbai - HO,LOST,2024-03-07 15:12:51.996173,unicreds,NaT,NaN,auto-forward,unicreds,1,2024-03-06,2024-03-07,NaN,2024-03-06,2024-03-07,1.0
99,339248,2024-03-06 15:02:36.981828,LOST,Squad Stack,UK,Mumbai - HO,LOST,2024-03-07 17:22:39.365945,google,NaT,src-generic-core-tg-uk-geo-mumbai-wan,cpc,get-expert-guidance,1,2024-03-06,2024-03-07,NaN,2024-03-06,2024-03-07,1.0

In [143]:
# Step 1: Ensure task_updated_at and task_remind_at are in datetime64 dtype
# (This step may already be done. If so, you can skip it.)
df_task['task_updated_at'] = pd.to_datetime(df_task['task_updated_at'])
df_task['task_remind_at'] = pd.to_datetime(df_task['task_remind_at'])

# Step 2 & 3: Calculate the difference and compare to 4 hours
# Calculate the difference and compare to 4 hours, then convert to 1 for True and 0 for False
df_task['is_violated'] = ((df_task['task_updated_at'] - df_task['task_remind_at']) > pd.Timedelta(hours=4)).astype(int)

In [144]:
import pandas as pd

# Ensure necessary date columns are in datetime format
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'])
df_lead['first_status_except_created_or_contacted_date'] = pd.to_datetime(df_lead['first_status_except_created_or_contacted_date'])
df_task['task_created_at'] = pd.to_datetime(df_task['task_created_at'])

# Merge df_task with df_lead to bring in the relevant dates
merged_tasks = pd.merge(df_task, df_lead[['lead_id', 'lead_created_at', 'first_status_except_created_or_contacted_date']], on='lead_id')

# Filter for tasks created within the specified date range
filtered_tasks = merged_tasks[(merged_tasks['task_created_at'] >= merged_tasks['lead_created_at']) & 
                              (merged_tasks['task_created_at'] <= merged_tasks['first_status_except_created_or_contacted_date'])]

# Count the total tasks and violated tasks per lead_id
tasks_count_per_lead = filtered_tasks.groupby('lead_id').size().reset_index(name='total_tasks')
violated_tasks_per_lead = filtered_tasks[filtered_tasks['is_violated'] == 1].groupby('lead_id').size().reset_index(name='violated_tasks')

# Merge the task counts back into df_lead, using a left join to keep all rows in df_lead
df_lead = pd.merge(df_lead, tasks_count_per_lead, on='lead_id', how='left')
df_lead = pd.merge(df_lead, violated_tasks_per_lead, on='lead_id', how='left')

# Fill NaN values with 0 for leads with no tasks or no violated tasks within the range
df_lead['total_tasks'].fillna(0, inplace=True)
df_lead['violated_tasks'].fillna(0, inplace=True)

# Convert counts to integers
df_lead['total_tasks'] = df_lead['total_tasks'].astype(int)
df_lead['violated_tasks'] = df_lead['violated_tasks'].astype(int)

In [147]:
import pandas as pd

# Ensure the date columns are in datetime format for accurate comparison
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'])
df_lead['first_status_except_created_or_contacted_date'] = pd.to_datetime(df_lead['first_status_except_created_or_contacted_date'])
df_note['note_created_at'] = pd.to_datetime(df_note['note_created_at'])

# Merge df_note with df_lead to bring in the relevant date columns for each lead
merged_notes = pd.merge(df_note, df_lead[['lead_id', 'lead_created_at', 'first_status_except_created_or_contacted_date']], on='lead_id')

# Filter notes created within the specified date range for each lead
filtered_notes = merged_notes[(merged_notes['note_created_at'] >= merged_notes['lead_created_at']) & 
                              (merged_notes['note_created_at'] <= merged_notes['first_status_except_created_or_contacted_date'])]

# Count the total notes per lead_id within the specified range
notes_count_per_lead = filtered_notes.groupby('lead_id').size().reset_index(name='total_notes')

# Merge the notes counts back into df_lead, using a left join to ensure all rows in df_lead are preserved
df_lead = pd.merge(df_lead, notes_count_per_lead, on='lead_id', how='left')

# Fill NaN values with 0 for leads with no notes in the specified range
df_lead['total_notes'].fillna(0, inplace=True)

# Convert 'total_notes' to integer, as counts should be whole numbers
df_lead['total_notes'] = df_lead['total_notes'].astype(int)

In [148]:
# Ensure datetime columns are in the correct format
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'])
df_note['note_created_at'] = pd.to_datetime(df_note['note_created_at'])
df_task['task_created_at'] = pd.to_datetime(df_task['task_created_at'])

# Merge df_lead with df_note and df_task to align lead creation times
notes_with_lead_time = pd.merge(df_lead[['lead_id', 'lead_created_at']], df_note, on='lead_id')
tasks_with_lead_time = pd.merge(df_lead[['lead_id', 'lead_created_at']], df_task, on='lead_id')

# Filter notes and tasks that were created after the lead's creation time
filtered_notes = notes_with_lead_time[notes_with_lead_time['note_created_at'] > notes_with_lead_time['lead_created_at']]
filtered_tasks = tasks_with_lead_time[tasks_with_lead_time['task_created_at'] > tasks_with_lead_time['lead_created_at']]

# Group by lead_id and find the earliest note and task created after lead_created_at
first_note_per_lead = filtered_notes.groupby('lead_id')['note_created_at'].min().reset_index(name='first_note_created_at')
first_task_per_lead = filtered_tasks.groupby('lead_id')['task_created_at'].min().reset_index(name='first_task_created_at')

# Merge these minimum times back into df_lead
df_lead = pd.merge(df_lead, first_note_per_lead, on='lead_id', how='left')
df_lead = pd.merge(df_lead, first_task_per_lead, on='lead_id', how='left')

In [149]:
# Calculate the time difference in hours from lead_created_at to first_note_created_at
df_lead['hours_to_first_note'] = (df_lead['first_note_created_at'] - df_lead['lead_created_at']).dt.total_seconds() / 3600

# Calculate the time difference in hours from lead_created_at to first_task_created_at
df_lead['hours_to_first_task'] = (df_lead['first_task_created_at'] - df_lead['lead_created_at']).dt.total_seconds() / 3600

In [150]:
import numpy as np

# Define the bins and labels for the time to first note
bins = [-np.inf, 0, 2, 6, 24, 48, 72, np.inf]
labels = ['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', 
          '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']

# Create a new column for the time to first note bucket
# NaN values in 'hours_to_first_note' indicate no notes, so we fill these with -1 before binning
df_lead['time_to_first_notes_bucket'] = pd.cut(df_lead['hours_to_first_note'].fillna(-1), bins=bins, labels=labels, right=False)

In [151]:
# Calculate the task violation percentage
df_lead['task_violation_percentage'] = (df_lead['violated_tasks'] / df_lead['total_tasks']) * 100

# Define a function to categorize the task violation percentage into buckets
def task_violation_bucket(row):
    if row['total_tasks'] == 0:
        return 'No tasks assigned'
    elif row['task_violation_percentage'] == 0:
        return 'Zero task violation'
    elif row['task_violation_percentage'] < 20 and row['task_violation_percentage'] > 0:
        return 'Less than 20% task violation'
    elif 20 <= row['task_violation_percentage'] <= 50:
        return '20%-50% task violation'
    else:
        return 'Greater than 50%'

# Apply the function to create a new column for the task violation percentage bucket
df_lead['task_violation_percentage_bucket'] = df_lead.apply(task_violation_bucket, axis=1)

In [152]:
# Convert 'qualified_date' to datetime format (if not already done)
df_lead['qualified_date'] = pd.to_datetime(df_lead['qualified_date'], errors='coerce')

# Create 'is_qualified' column based on the presence of 'qualified_date'
df_lead['is_qualified'] = df_lead['qualified_date'].notna().astype(int)

In [153]:
# Ensure 'days_diff' is not zero to avoid division by zero errors; set to NaN where days_diff <= 0
df_lead['adjusted_days_diff'] = df_lead['days_diff'].apply(lambda x: np.nan if x <= 0 else x)

# Calculate the percentage of total_notes to days_diff
df_lead['notes_days_percentage'] = (df_lead['total_notes'] / df_lead['adjusted_days_diff']) * 100

# Define the follow-up violation based on whether the notes_days_percentage is greater than 50%
# Note: If adjusted_days_diff is NaN (implying original days_diff was 0 or negative), treat these cases separately if needed
df_lead['follow_up_violation'] = df_lead['notes_days_percentage'].apply(lambda x: 1 if x < 50 else 0)

In [154]:
# Extract hour of the day and day of the week for first_note_created_at
df_lead['hour_of_day_lead_created'] = df_lead['lead_created_at'].dt.hour
df_lead['day_of_week_lead_created'] = df_lead['lead_created_at'].dt.dayofweek

In [170]:
df_lead.to_clipboard()

In [171]:
import pandas as pd

# Assuming df_lead is your DataFrame

# Ensure that 'lead_created_at' and 'first_note_created_at' are in datetime format
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'])
df_lead['first_note_created_at'] = pd.to_datetime(df_lead['first_note_created_at'])

# Define the start and end date for the filtering
start_date = '2024-04-01'
end_date = '2024-04-07'

# Filter the DataFrame
filtered_df = df_lead[
    ((df_lead['lead_created_at'] >= start_date) & (df_lead['lead_created_at'] <= end_date)) |
    ((df_lead['first_note_created_at'] >= start_date) & (df_lead['first_note_created_at'] <= end_date))
]

# Now filtered_df contains only the rows where 'lead_created_at' or 'first_note_created_at' falls between the specified dates

In [191]:
filtered_df

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,...,hours_to_first_task,time_to_first_notes_bucket,task_violation_percentage,task_violation_percentage_bucket,is_qualified,adjusted_days_diff,notes_days_percentage,follow_up_violation,hour_of_day_lead_created,day_of_week_lead_created
1274,389085,2024-04-01 10:53:10.726281,LOST,NaN,USA,Hyderabad,LOST,2024-04-01 11:05:27.190722,google,NaT,...,NaN,Less than 2 hours,NaN,No tasks assigned,0,NaN,NaN,0,10,0
1276,388590,2024-03-30 12:54:17.899061,LOST,Viraj Gada,UK,Hyderabad,LOST,2024-04-01 11:35:53.031062,google,NaT,...,0.001869,24 hours to 48 hours,0.0,Zero task violation,0,2.0,50.000000,0,12,5
1282,389206,2024-04-01 13:27:34.581746,LOST,Squad Stack,UK,Mumbai - HO,LOST,2024-04-01 13:34:22.643408,google,NaT,...,NaN,Less than 2 hours,NaN,No tasks assigned,0,NaN,NaN,0,13,0
1283,388545,2024-03-30 11:04:48.561851,OPPORTUNITY,Sharmishtha Chikhalkar,Ireland,Mumbai - HO,OPPORTUNITY,2024-04-01 13:36:49.334553,unicreds,NaT,...,50.533534,48 hours to 72 hours,0.0,Zero task violation,0,2.0,50.000000,0,11,5
1284,389234,2024-04-01 14:01:32.901727,CREATED,Squad Stack,UK,Bengaluru,NaN,NaT,direct,NaT,...,NaN,No Notes,NaN,No tasks assigned,0,NaN,NaN,0,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16637,388748,2024-03-30 23:36:15.504483,CONTACTED,Umme Ansari,UK,Mumbai - HO,NaN,NaT,instagram,NaT,...,38.059758,24 hours to 48 hours,NaN,No tasks assigned,0,NaN,NaN,0,23,5
16639,340191,2024-03-08 11:43:31.334821,CONTACTED,Umme Ansari,UK,Hyderabad,NaN,NaT,google,NaT,...,0.014357,More than 72 hours,NaN,No tasks assigned,0,NaN,NaN,0,11,4
16647,389364,2024-04-01 17:01:05.462549,LOST,NaN,USA,Hyderabad,LOST,2024-04-10 10:15:25.678789,google,NaT,...,0.001575,Less than 2 hours,0.0,Zero task violation,0,9.0,66.666667,0,17,0
16648,390593,2024-04-04 05:18:31.207067,CONTACTED,Dalian Pereira,UK,Hyderabad,NaN,NaT,instagram,NaT,...,7.420978,6 hours to 24 hours,NaN,No tasks assigned,0,NaN,NaN,0,5,3
16649,391526,2024-04-06 12:11:09.552362,COUNSELLOR CONTACTED,Saurab Rao,USA,Hyderabad,QUALIFIED,2024-04-08 16:21:51.174599,google,2024-04-08 16:21:51.174599,...,51.173036,48 hours to 72 hours,0.0,Zero task violation,1,2.0,50.000000,0,12,5

In [175]:
import pandas as pd

# Assuming df_lead already contains the 'time_to_first_notes_bucket' and 'is_qualified' columns

# Calculate total leads and qualified leads by time to first notes bucket
pivot_df = pd.pivot_table(filtered_df,
                          index='time_to_first_notes_bucket',
                          values='lead_id',
                          aggfunc='count',
                          margins=True,
                          margins_name='Grand Total')

# Calculate the number of qualified leads by time to first notes bucket
qualified_leads = filtered_df[filtered_df['is_qualified'] == 1].groupby('time_to_first_notes_bucket')['lead_id'].count()

# Add the qualified leads count to the pivot table
pivot_df['Qualified Leads'] = qualified_leads
pivot_df['Qualified Leads'].fillna(0, inplace=True)  # Fill NaN with 0

# Calculate the percentages
pivot_df['% Distribution'] = (pivot_df['lead_id'] / pivot_df.loc['Grand Total', 'lead_id']) * 100
pivot_df['Qualified %'] = (pivot_df['Qualified Leads'] / pivot_df['lead_id']) * 100

# Reorder and rename the columns for clarity
pivot_df.rename(columns={'lead_id': 'Leads'}, inplace=True)
pivot_df = pivot_df[['Leads', '% Distribution', 'Qualified Leads', 'Qualified %']]

# Fill NaN values in the final pivot table, if any, with appropriate values (e.g., 0 or "-")
pivot_df.fillna(0, inplace=True)

In [176]:
pivot_df

,Leads,% Distribution,Qualified Leads,Qualified %
time_to_first_notes_bucket,,,,
No Notes,203,8.020545,0.0,0.000000
Less than 2 hours,738,29.158435,115.0,15.582656
2 hours to 6 hours,161,6.361122,30.0,18.633540
6 hours to 24 hours,673,26.590281,83.0,12.332838
24 hours to 48 hours,490,19.359937,26.0,5.306122
48 hours to 72 hours,157,6.203082,6.0,3.821656
More than 72 hours,109,4.306598,3.0,2.752294
Grand Total,2531,100.000000,0.0,0.000000

In [177]:
import pandas as pd

# Assuming df_lead contains the relevant data

# Pivot the DataFrame on 'lqt_agent' and aggregate the counts for each 'time_to_first_notes_bucket'
agent_view = filtered_df.pivot_table(index='lqt_agent', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
agent_view.loc['Grand Total'] = agent_view.sum()

# Reorder the columns according to the specified order
agent_view = agent_view[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [178]:
agent_view

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
lqt_agent,,,,,,,
Aishwarya Prabhune,0,24,6,17,2,1,0
Dalian Pereira,0,18,9,13,4,0,1
Hardik Kamdar,0,32,3,23,14,3,0
Harsh Sharma,1,24,4,24,10,1,0
Kabir Dhameja,0,24,1,9,10,0,0
Karan Chitalia,0,32,7,14,6,1,0
Kartik Sawant,1,36,12,44,7,0,1
Mufida Loladiya,2,36,19,43,16,4,0
Nikitha Naga,0,4,0,0,3,7,0
Rutuja More,0,0,0,0,1,0,0
Saloni Shah,0,0,0,1,0,0,0
Sara Solkar,0,31,3,27,13,1,4
Saurab Rao,2,35,6,27,11,4,1
Shania Aldons,0,20,5,14,8,3,0
Shania Gonsalves,0,0,0,1,0,0,0
Sharmishtha Chikhalkar,0,24,5,17,15,5,1
Shreeya Dalvi,0,27,8,31,8,12,0
Shubham Pardeshi,1,31,9,31,8,1,0
Squad Stack,189,162,39,204,292,98,93
Swati Maurya,4,29,6,22,12,5,1
Umme Ansari,1,26,3,22,13,4,4
Vighnesh Gondhale,0,1,0,0,0,0,0
Viraj Gada,0,25,5,24,13,1,0
Grand Total,201,641,150,608,466,151,106

In [179]:
import pandas as pd

# Assuming df_lead contains the relevant data

# Pivot the DataFrame on 'lqt_agent' and aggregate the counts for each 'time_to_first_notes_bucket'
agent_view = filtered_df.pivot_table(index='lqt_agent', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
agent_view.loc['Grand Total'] = agent_view.sum()

# Calculate the percentage of each bucket relative to the total for each agent and format as whole numbers with %
agent_view_percent = (agent_view.div(agent_view.sum(axis=1), axis=0) * 100).round().astype(int).astype(str) + '%'

# Reorder the columns according to the specified order
agent_view_percent = agent_view_percent[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [180]:
agent_view_percent

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
lqt_agent,,,,,,,
Aishwarya Prabhune,0%,48%,12%,34%,4%,2%,0%
Dalian Pereira,0%,40%,20%,29%,9%,0%,2%
Hardik Kamdar,0%,43%,4%,31%,19%,4%,0%
Harsh Sharma,2%,38%,6%,38%,16%,2%,0%
Kabir Dhameja,0%,55%,2%,20%,23%,0%,0%
Karan Chitalia,0%,53%,12%,23%,10%,2%,0%
Kartik Sawant,1%,36%,12%,44%,7%,0%,1%
Mufida Loladiya,2%,30%,16%,36%,13%,3%,0%
Nikitha Naga,0%,29%,0%,0%,21%,50%,0%
Rutuja More,0%,0%,0%,0%,100%,0%,0%
Saloni Shah,0%,0%,0%,100%,0%,0%,0%
Sara Solkar,0%,39%,4%,34%,16%,1%,5%
Saurab Rao,2%,41%,7%,31%,13%,5%,1%
Shania Aldons,0%,40%,10%,28%,16%,6%,0%
Shania Gonsalves,0%,0%,0%,100%,0%,0%,0%
Sharmishtha Chikhalkar,0%,36%,7%,25%,22%,7%,1%
Shreeya Dalvi,0%,31%,9%,36%,9%,14%,0%
Shubham Pardeshi,1%,38%,11%,38%,10%,1%,0%
Squad Stack,18%,15%,4%,19%,27%,9%,9%
Swati Maurya,5%,37%,8%,28%,15%,6%,1%
Umme Ansari,1%,36%,4%,30%,18%,5%,5%
Vighnesh Gondhale,0%,100%,0%,0%,0%,0%,0%
Viraj Gada,0%,37%,7%,35%,19%,1%,0%
Grand Total,9%,28%,6%,26%,20%,7%,5%

In [185]:
import pandas as pd

# Convert task_remind_at and lead_created_at to datetime if they are not already
df_task['task_remind_at'] = pd.to_datetime(df_task['task_remind_at'])
df_lead['lead_created_at'] = pd.to_datetime(df_lead['lead_created_at'])

# Define start and end dates
start_date = '2024-04-01'
end_date = '2024-04-07'

# Filter df_task for task_remind_at between 1st April and 7th April
filtered_task = df_task[(df_task['task_remind_at'] >= start_date) & (df_task['task_remind_at'] <= end_date)]

# Get unique lead_ids from filtered df_task
filtered_lead_ids = filtered_task['lead_id'].unique()

# Filter df_lead for lead_ids in filtered_task and lead_created_at between 1st April and 7th April
filtered_df_lead = df_lead[df_lead['lead_id'].isin(filtered_lead_ids) |
                           ((df_lead['lead_created_at'] >= start_date) & 
                           (df_lead['lead_created_at'] <= end_date))]

In [186]:
filtered_df_lead

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,...,hours_to_first_task,time_to_first_notes_bucket,task_violation_percentage,task_violation_percentage_bucket,is_qualified,adjusted_days_diff,notes_days_percentage,follow_up_violation,hour_of_day_lead_created,day_of_week_lead_created
1070,386248,2024-03-26 16:59:48.922923,OPPORTUNITY,Dalian Pereira,USA,Delhi,QUALIFIED,2024-03-28 10:36:42.989636,instagram,2024-03-28 10:36:42.989636,...,0.001568,Less than 2 hours,0.0,Zero task violation,1,2.0,250.000000,0,16,1
1072,387828,2024-03-27 23:00:30.833018,LOST,Kabir Dhameja,USA,Delhi,LOST,2024-03-28 15:24:14.110112,instagram,NaT,...,13.081508,6 hours to 24 hours,0.0,Zero task violation,0,1.0,200.000000,0,23,2
1076,378446,2024-03-13 15:52:41.009392,OPPORTUNITY,Kabir Dhameja,UK,Mumbai - HO,QUALIFIED,2024-03-13 17:15:41.030719,google,2024-03-13 17:15:41.030719,...,0.001545,Less than 2 hours,0.0,Zero task violation,1,NaN,NaN,0,15,2
1274,389085,2024-04-01 10:53:10.726281,LOST,NaN,USA,Hyderabad,LOST,2024-04-01 11:05:27.190722,google,NaT,...,NaN,Less than 2 hours,NaN,No tasks assigned,0,NaN,NaN,0,10,0
1277,377948,2024-03-12 17:58:22.220572,LOST,NaN,UK,Chennai,LOST,2024-04-01 11:41:30.961439,google,NaT,...,0.001538,6 hours to 24 hours,50.0,20%-50% task violation,0,20.0,35.000000,1,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16636,381055,2024-03-18 05:37:39.491474,PROCESSING,NaN,UK,Delhi,QUALIFIED,2024-04-01 13:56:46.467333,google,2024-04-01 13:56:46.467333,...,5.093469,2 hours to 6 hours,0.0,Zero task violation,1,14.0,78.571429,0,5,0
16637,388748,2024-03-30 23:36:15.504483,CONTACTED,Umme Ansari,UK,Mumbai - HO,NaN,NaT,instagram,NaT,...,38.059758,24 hours to 48 hours,NaN,No tasks assigned,0,NaN,NaN,0,23,5
16647,389364,2024-04-01 17:01:05.462549,LOST,NaN,USA,Hyderabad,LOST,2024-04-10 10:15:25.678789,google,NaT,...,0.001575,Less than 2 hours,0.0,Zero task violation,0,9.0,66.666667,0,17,0
16648,390593,2024-04-04 05:18:31.207067,CONTACTED,Dalian Pereira,UK,Hyderabad,NaN,NaT,instagram,NaT,...,7.420978,6 hours to 24 hours,NaN,No tasks assigned,0,NaN,NaN,0,5,3
16649,391526,2024-04-06 12:11:09.552362,COUNSELLOR CONTACTED,Saurab Rao,USA,Hyderabad,QUALIFIED,2024-04-08 16:21:51.174599,google,2024-04-08 16:21:51.174599,...,51.173036,48 hours to 72 hours,0.0,Zero task violation,1,2.0,50.000000,0,12,5

In [192]:
# Define the date ranges for lead creation and task reminder
lead_start_date = '2024-03-25'
lead_end_date = '2024-04-07'

filtered_df_notes_violation = df_lead[
    ((df_lead['lead_created_at'] >= lead_start_date) & (df_lead['lead_created_at'] <= lead_end_date)) ]

In [196]:
filtered_df_notes_violation.head()

,lead_id,lead_created_at,cur_status,lqt_agent,dest_country,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,...,hours_to_first_task,time_to_first_notes_bucket,task_violation_percentage,task_violation_percentage_bucket,is_qualified,adjusted_days_diff,notes_days_percentage,follow_up_violation,hour_of_day_lead_created,day_of_week_lead_created
862,385610,2024-03-25 21:04:57.014006,LOST,Squad Stack,USA,Hyderabad,LOST,2024-03-26 10:38:42.542861,google,NaT,...,NaN,6 hours to 24 hours,NaN,No tasks assigned,0,1.0,0.0,1,21,0
863,385970,2024-03-26 10:34:02.723479,LOST,Squad Stack,Ireland,Mumbai - HO,LOST,2024-03-26 10:40:29.262171,google,NaT,...,NaN,Less than 2 hours,NaN,No tasks assigned,0,NaN,NaN,0,10,1
871,385544,2024-03-25 19:47:35.991461,OPPORTUNITY,Umme Ansari,NZ,Mumbai - HO,OPPORTUNITY,2024-03-26 13:23:04.367062,google,NaT,...,17.591199,6 hours to 24 hours,0.0,Zero task violation,0,1.0,100.0,0,19,0
873,385401,2024-03-25 16:03:48.219860,LOST,Squad Stack,USA,Bengaluru,LOST,2024-03-26 13:42:50.609185,google,NaT,...,NaN,6 hours to 24 hours,NaN,No tasks assigned,0,1.0,0.0,1,16,0
874,385468,2024-03-25 18:00:54.097603,OPPORTUNITY,Kartik Sawant,UK,Delhi,OPPORTUNITY,2024-03-26 13:47:05.805349,google,NaT,...,0.001623,6 hours to 24 hours,0.0,Zero task violation,0,1.0,0.0,1,18,0

In [197]:
import pandas as pd

# Group by lqt_agent and follow_up_violation, then aggregate metrics
agent_follow_up_violation_view = filtered_df_notes_violation.groupby(['lqt_agent', 'follow_up_violation']).agg(
    Leads=('lead_id', 'count'),
    Qualified_Leads=('is_qualified', lambda x: (x == 1).sum())
).reset_index()

# Calculate % Distribution for Lead Count within each agent
agent_follow_up_violation_view['% Distribution within Agent'] = agent_follow_up_violation_view.groupby('lqt_agent')['Leads'].transform(lambda x: (x / x.sum()) * 100)

# Calculate Q % (Qualified % within each follow-up violation category per agent)
agent_follow_up_violation_view['Q % within Category'] = (agent_follow_up_violation_view['Qualified_Leads'] / agent_follow_up_violation_view['Leads']) * 100

# Rename columns for clarity
agent_follow_up_violation_view.rename(columns={
    'lqt_agent': 'LQT Agent',
    'follow_up_violation': 'Follow-up Violation',
    'Leads': 'Leads',
    'Qualified_Leads': 'Qualified Leads'
}, inplace=True)

# Reorder columns for readability
agent_follow_up_violation_view = agent_follow_up_violation_view[['LQT Agent', 'Follow-up Violation', 'Leads', '% Distribution within Agent', 'Qualified Leads', 'Q % within Category']]

In [200]:
agent_follow_up_violation_view

,LQT Agent,Follow-up Violation,Leads,% Distribution within Agent,Qualified Leads,Q % within Category
0,Aishwarya Prabhune,0,62,95.384615,9,14.516129
1,Aishwarya Prabhune,1,3,4.615385,1,33.333333
2,Akansha Dubey,0,1,100.000000,0,0.000000
3,Dalian Pereira,0,103,94.495413,14,13.592233
4,Dalian Pereira,1,6,5.504587,0,0.000000
5,Hardik Kamdar,0,120,89.552239,20,16.666667
6,Hardik Kamdar,1,14,10.447761,0,0.000000
7,Harsh Sharma,0,101,83.471074,14,13.861386
8,Harsh Sharma,1,20,16.528926,1,5.000000
9,Himada Gadhade,0,2,100.000000,0,0.000000
10,Kabir Dhameja,0,84,80.769231,10,11.904762
11,Kabir Dhameja,1,20,19.230769,1,5.000000
12,Karan Chitalia,0,70,95.890411,11,15.714286
13,Karan Chitalia,1,3,4.109589,1,33.333333
14,Kartik Sawant,0,180,91.370558,25,13.888889
15,Kartik Sawant,1,17,8.629442,1,5.882353
16,Mufida Loladiya,0,187,98.421053,19,10.160428
17,Mufida Loladiya,1,3,1.578947,1,33.333333
18,Nikitha Naga,0,49,92.452830,21,42.857143
19,Nikitha Naga,1,4,7.547170,2,50.000000
20,Rutuja More,0,2,100.000000,0,0.000000
21,Saloni Shah,0,1,100.000000,0,0.000000
22,Sara Solkar,0,112,80.000000,11,9.821429
23,Sara Solkar,1,28,20.000000,2,7.142857
24,Saurab Rao,0,151,93.209877,21,13.907285
25,Saurab Rao,1,11,6.790123,0,0.000000
26,Shania Aldons,0,57,96.610169,13,22.807018
27,Shania Aldons,1,2,3.389831,0,0.000000
28,Shania Gonsalves,0,1,100.000000,0,0.000000
29,Sharmishtha Chikhalkar,0,118,93.650794,15,12.711864
30,Sharmishtha Chikhalkar,1,8,6.349206,0,0.000000
31,Shreeya Dalvi,0,195,97.500000,32,16.410256
32,Shreeya Dalvi,1,5,2.500000,0,0.000000
33,Shubham Pardeshi,0,123,94.615385,15,12.195122
34,Shubham Pardeshi,1,7,5.384615,1,14.285714
35,Squad Stack,0,716,38.786566,66,9.217877
36,Squad Stack,1,1130,61.213434,48,4.247788
37,Swati Maurya,0,97,85.087719,11,11.340206
38,Swati Maurya,1,17,14.912281,0,0.000000
39,Umme Ansari,0,96,91.428571,13,13.541667
40,Umme Ansari,1,9,8.571429,0,0.000000
41,Vighnesh Gondhale,0,1,100.000000,0,0.000000
42,Viraj Gada,0,111,88.800000,19,17.117117
43,Viraj Gada,1,14,11.200000,2,14.285714

In [194]:
import pandas as pd

# Group by follow_up_violation and aggregate metrics
follow_up_violation_view = filtered_df_notes_violation.groupby('follow_up_violation').agg(
    Leads=('lead_id', 'count'),
    Qualified_Leads=('is_qualified', lambda x: (x == 1).sum())
).reset_index()

# Calculate % Distribution for Lead Count
total_leads = follow_up_violation_view['Leads'].sum()
follow_up_violation_view['% Distribution'] = (follow_up_violation_view['Leads'] / total_leads) * 100

# Calculate Q % (Qualified %)
follow_up_violation_view['Q %'] = (follow_up_violation_view['Qualified_Leads'] / follow_up_violation_view['Leads']) * 100

# Rename columns
follow_up_violation_view.rename(columns={
    'follow_up_violation': 'Follow-up violation',
    'Leads': 'Leads',
    'Qualified_Leads': 'Qualified Leads'
}, inplace=True)

# Reorder columns
follow_up_violation_view = follow_up_violation_view[['Follow-up violation', 'Leads', '% Distribution', 'Qualified Leads', 'Q %']]

In [195]:
follow_up_violation_view

   Follow-up violation  Leads  % Distribution  Qualified Leads        Q %
0                    0   3151       69.991115              397  12.599175
1                    1   1351       30.008885               64   4.737232

In [187]:
import pandas as pd

# Define the custom order for the 'Task Violations per lead' column
task_violation_order = [
    'No tasks assigned',
    'Zero task violation',
    'Less than 20% task violation',
    '20%-50% task violation',
    'Greater than 50%'
]

# Convert 'task_violation_percentage_bucket' to a categorical type with the defined order
filtered_df_lead['task_violation_percentage_bucket'] = pd.Categorical(filtered_df_lead['task_violation_percentage_bucket'],
                                                             categories=task_violation_order,
                                                             ordered=True)

# Follow the same aggregation steps as before, now with the column ordered
task_violation_view = filtered_df_lead.groupby('task_violation_percentage_bucket').agg(
    Lead_Count=('lead_id', 'count'),
    Qualified_Leads=('is_qualified', lambda x: (x == 1).sum()),
    Sum_of_total_tasks=('total_tasks', 'sum')
).reset_index()

# Additional calculations remain unchanged
total_leads = task_violation_view['Lead_Count'].sum()
task_violation_view['% Distribution'] = (task_violation_view['Lead_Count'] / total_leads) * 100
task_violation_view['Q %'] = (task_violation_view['Qualified_Leads'] / task_violation_view['Lead_Count']) * 100
total_tasks = task_violation_view['Sum_of_total_tasks'].sum()
task_violation_view['% Sum of total_tasks'] = (task_violation_view['Sum_of_total_tasks'] / total_tasks) * 100

# Rename and reorder the columns as previously
task_violation_view.rename(columns={
    'task_violation_percentage_bucket': 'Task Violations per lead',
    'Lead_Count': 'Lead Count',
    'Qualified_Leads': 'Qualified Leads',
    'Sum_of_total_tasks': 'Sum of total_tasks'
}, inplace=True)
task_violation_view = task_violation_view[['Task Violations per lead', 'Lead Count', '% Distribution', 'Qualified Leads', 'Q %', 'Sum of total_tasks', '% Sum of total_tasks']]

/var/folders/82/0mjwyp6n4ql3yr64dnns9_9r0000gp/T/ipykernel_17017/1233117542.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_lead['task_violation_percentage_bucket'] = pd.Categorical(filtered_df_lead['task_violation_percentage_bucket'],

In [188]:
task_violation_view

,Task Violations per lead,Lead Count,% Distribution,Qualified Leads,Q %,Sum of total_tasks,% Sum of total_tasks
0,No tasks assigned,2293,44.087675,504,21.979939,0,0.000000
1,Zero task violation,1635,31.436262,481,29.418960,5850,49.209287
2,Less than 20% task violation,135,2.595655,17,12.592593,1024,8.613728
3,20%-50% task violation,984,18.919439,135,13.719512,4443,37.373822
4,Greater than 50%,154,2.960969,54,35.064935,571,4.803163

In [189]:
# Assuming 'df_lead' is your DataFrame

# Calculate the total leads, total tasks, and violated tasks for each agent
agent_summary = filtered_df_lead.groupby('lqt_agent').agg(
    total_leads=('lead_id', 'count'),
    total_tasks=('total_tasks', 'sum'),
    tasks_violated=('violated_tasks', 'sum')
).reset_index()

# Calculate the percentage of tasks violated for each agent
agent_summary['tasks_violated_percentage'] = (agent_summary['tasks_violated'] / agent_summary['total_tasks']) * 100

# Replace any potential NaN values with 0 (in case of no tasks assigned)
agent_summary['tasks_violated_percentage'].fillna(0, inplace=True)

In [190]:
agent_summary

,lqt_agent,total_leads,total_tasks,tasks_violated,tasks_violated_percentage
0,Aishwarya Prabhune,78,158,25,15.822785
1,Akansha Dubey,2,11,8,72.727273
2,Basavaraj Gandla Parvathapuram,1,1,0,0.000000
3,Dalian Pereira,177,454,47,10.352423
4,Hardik Kamdar,240,662,118,17.824773
5,Harsh Sharma,179,438,117,26.712329
6,Himada Gadhade,1,4,0,0.000000
7,Jahnavi Tiwari,1,5,0,0.000000
8,Kabir Dhameja,231,601,100,16.638935
9,Karan Chitalia,102,305,46,15.081967
10,Kartik Sawant,256,662,130,19.637462
11,Mufida Loladiya,228,539,28,5.194805
12,Nikitha Naga,68,151,16,10.596026
13,Rutuja More,2,12,2,16.666667
14,Saloni Shah,4,14,0,0.000000
15,Sara Solkar,255,684,136,19.883041
16,Saurab Rao,152,370,27,7.297297
17,Shania Aldons,74,169,25,14.792899
18,Shania Gonsalves,1,0,0,0.000000
19,Sharmishtha Chikhalkar,212,438,113,25.799087
20,Shreeya Dalvi,266,717,193,26.917713
21,Shubham Pardeshi,166,450,38,8.444444
22,Squad Stack,1160,2,0,0.000000
23,Swati Maurya,154,397,73,18.387909
24,Umme Ansari,162,400,101,25.250000
25,Vighnesh Gondhale,1,0,0,0.000000
26,Viraj Gada,178,457,40,8.752735

In [103]:
import pandas as pd

# Assuming df_lead already contains the 'time_to_first_notes_bucket' and 'is_qualified' columns

# Calculate total leads and qualified leads by time to first notes bucket
pivot_df = pd.pivot_table(df_lead,
                          index='time_to_first_notes_bucket',
                          values='lead_id',
                          aggfunc='count',
                          margins=True,
                          margins_name='Grand Total')

# Calculate the number of qualified leads by time to first notes bucket
qualified_leads = df_lead[df_lead['is_qualified'] == 1].groupby('time_to_first_notes_bucket')['lead_id'].count()

# Add the qualified leads count to the pivot table
pivot_df['Qualified Leads'] = qualified_leads
pivot_df['Qualified Leads'].fillna(0, inplace=True)  # Fill NaN with 0

# Calculate the percentages
pivot_df['% Distribution'] = (pivot_df['lead_id'] / pivot_df.loc['Grand Total', 'lead_id']) * 100
pivot_df['Qualified %'] = (pivot_df['Qualified Leads'] / pivot_df['lead_id']) * 100

# Reorder and rename the columns for clarity
pivot_df.rename(columns={'lead_id': 'Leads'}, inplace=True)
pivot_df = pivot_df[['Leads', '% Distribution', 'Qualified Leads', 'Qualified %']]

# Fill NaN values in the final pivot table, if any, with appropriate values (e.g., 0 or "-")
pivot_df.fillna(0, inplace=True)

In [104]:
# Display the pivot table
pivot_df

,Leads,% Distribution,Qualified Leads,Qualified %
time_to_first_notes_bucket,,,,
No Notes,22,1.726845,0.0,0.000000
Less than 2 hours,575,45.133438,84.0,14.608696
2 hours to 6 hours,122,9.576138,22.0,18.032787
6 hours to 24 hours,408,32.025118,47.0,11.519608
24 hours to 48 hours,112,8.791209,2.0,1.785714
48 hours to 72 hours,34,2.668760,0.0,0.000000
More than 72 hours,1,0.078493,0.0,0.000000
Grand Total,1274,100.000000,0.0,0.000000

In [105]:
import pandas as pd

# Define the custom order for the 'Task Violations per lead' column
task_violation_order = [
    'No tasks assigned',
    'Zero task violation',
    'Less than 20% task violation',
    '20%-50% task violation',
    'Greater than 50%'
]

# Convert 'task_violation_percentage_bucket' to a categorical type with the defined order
df_lead['task_violation_percentage_bucket'] = pd.Categorical(df_lead['task_violation_percentage_bucket'],
                                                             categories=task_violation_order,
                                                             ordered=True)

# Follow the same aggregation steps as before, now with the column ordered
task_violation_view = df_lead.groupby('task_violation_percentage_bucket').agg(
    Lead_Count=('lead_id', 'count'),
    Qualified_Leads=('is_qualified', lambda x: (x == 1).sum()),
    Sum_of_total_tasks=('total_tasks', 'sum')
).reset_index()

# Additional calculations remain unchanged
total_leads = task_violation_view['Lead_Count'].sum()
task_violation_view['% Distribution'] = (task_violation_view['Lead_Count'] / total_leads) * 100
task_violation_view['Q %'] = (task_violation_view['Qualified_Leads'] / task_violation_view['Lead_Count']) * 100
total_tasks = task_violation_view['Sum_of_total_tasks'].sum()
task_violation_view['% Sum of total_tasks'] = (task_violation_view['Sum_of_total_tasks'] / total_tasks) * 100

# Rename and reorder the columns as previously
task_violation_view.rename(columns={
    'task_violation_percentage_bucket': 'Task Violations per lead',
    'Lead_Count': 'Lead Count',
    'Qualified_Leads': 'Qualified Leads',
    'Sum_of_total_tasks': 'Sum of total_tasks'
}, inplace=True)
task_violation_view = task_violation_view[['Task Violations per lead', 'Lead Count', '% Distribution', 'Qualified Leads', 'Q %', 'Sum of total_tasks', '% Sum of total_tasks']]

In [106]:
task_violation_view

,Task Violations per lead,Lead Count,% Distribution,Qualified Leads,Q %,Sum of total_tasks,% Sum of total_tasks
0,No tasks assigned,902,70.800628,78,8.647450,0,0.000000
1,Zero task violation,358,28.100471,72,20.111732,806,95.610913
2,Less than 20% task violation,2,0.156986,0,0.000000,12,1.423488
3,20%-50% task violation,5,0.392465,1,20.000000,18,2.135231
4,Greater than 50%,7,0.549451,4,57.142857,7,0.830368

In [107]:
import pandas as pd

# Group by follow_up_violation and aggregate metrics
follow_up_violation_view = df_lead.groupby('follow_up_violation').agg(
    Leads=('lead_id', 'count'),
    Qualified_Leads=('is_qualified', lambda x: (x == 1).sum())
).reset_index()

# Calculate % Distribution for Lead Count
total_leads = follow_up_violation_view['Leads'].sum()
follow_up_violation_view['% Distribution'] = (follow_up_violation_view['Leads'] / total_leads) * 100

# Calculate Q % (Qualified %)
follow_up_violation_view['Q %'] = (follow_up_violation_view['Qualified_Leads'] / follow_up_violation_view['Leads']) * 100

# Rename columns
follow_up_violation_view.rename(columns={
    'follow_up_violation': 'Follow-up violation',
    'Leads': 'Leads',
    'Qualified_Leads': 'Qualified Leads'
}, inplace=True)

# Reorder columns
follow_up_violation_view = follow_up_violation_view[['Follow-up violation', 'Leads', '% Distribution', 'Qualified Leads', 'Q %']]

In [108]:
follow_up_violation_view

   Follow-up violation  Leads  % Distribution  Qualified Leads        Q %
0                    0   1249       98.037677              154  12.329864
1                    1     25        1.962323                1   4.000000

In [109]:
import pandas as pd

# Assuming df_lead contains the relevant data

# Pivot the DataFrame on 'lqt_agent' and aggregate the counts for each 'time_to_first_notes_bucket'
agent_view = df_lead.pivot_table(index='lqt_agent', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
agent_view.loc['Grand Total'] = agent_view.sum()

# Reorder the columns according to the specified order
agent_view = agent_view[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [110]:
agent_view

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
lqt_agent,,,,,,,
Aishwarya Prabhune,0,24,6,17,2,0,0
Dalian Pereira,0,18,9,13,3,0,1
Hardik Kamdar,0,32,3,20,4,1,0
Harsh Sharma,1,24,4,17,4,0,0
Kabir Dhameja,0,23,1,9,10,0,0
Karan Chitalia,0,32,7,14,7,1,0
Kartik Sawant,1,36,12,40,2,0,0
Ketan More,0,0,0,0,0,1,0
Mufida Loladiya,4,36,19,39,7,1,0
Nikitha Naga,1,4,0,0,3,3,0
Pravalika Gadam,0,0,0,0,2,0,0
Rutuja More,0,0,0,0,3,0,0
Saloni Shah,0,0,0,1,0,1,0
Sara Solkar,0,31,3,23,5,0,0
Saurab Rao,2,35,6,23,6,3,0
Shania Aldons,0,20,5,13,8,3,0
Shania Gonsalves,0,0,0,1,0,0,0
Sharmishtha Chikhalkar,1,25,5,13,7,3,0
Shreeya Dalvi,0,27,8,31,8,12,0
Shubham Pardeshi,2,31,9,31,6,0,0
Swati Maurya,7,29,6,18,7,1,0
Umme Ansari,1,25,3,16,6,3,0
Vighnesh Gondhale,0,1,0,0,0,0,0
Viraj Gada,0,25,5,21,9,1,0
Grand Total,20,478,111,360,109,34,1

In [111]:
import pandas as pd

# Assuming df_lead contains the relevant data

# Pivot the DataFrame on 'lqt_agent' and aggregate the counts for each 'time_to_first_notes_bucket'
agent_view = df_lead.pivot_table(index='lqt_agent', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
agent_view.loc['Grand Total'] = agent_view.sum()

# Calculate the percentage of each bucket relative to the total for each agent and format as whole numbers with %
agent_view_percent = (agent_view.div(agent_view.sum(axis=1), axis=0) * 100).round().astype(int).astype(str) + '%'

# Reorder the columns according to the specified order
agent_view_percent = agent_view_percent[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [112]:
agent_view_percent

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
lqt_agent,,,,,,,
Aishwarya Prabhune,0%,49%,12%,35%,4%,0%,0%
Dalian Pereira,0%,41%,20%,30%,7%,0%,2%
Hardik Kamdar,0%,53%,5%,33%,7%,2%,0%
Harsh Sharma,2%,48%,8%,34%,8%,0%,0%
Kabir Dhameja,0%,53%,2%,21%,23%,0%,0%
Karan Chitalia,0%,52%,11%,23%,11%,2%,0%
Kartik Sawant,1%,40%,13%,44%,2%,0%,0%
Ketan More,0%,0%,0%,0%,0%,100%,0%
Mufida Loladiya,4%,34%,18%,37%,7%,1%,0%
Nikitha Naga,9%,36%,0%,0%,27%,27%,0%
Pravalika Gadam,0%,0%,0%,0%,100%,0%,0%
Rutuja More,0%,0%,0%,0%,100%,0%,0%
Saloni Shah,0%,0%,0%,50%,0%,50%,0%
Sara Solkar,0%,50%,5%,37%,8%,0%,0%
Saurab Rao,3%,47%,8%,31%,8%,4%,0%
Shania Aldons,0%,41%,10%,27%,16%,6%,0%
Shania Gonsalves,0%,0%,0%,100%,0%,0%,0%
Sharmishtha Chikhalkar,2%,46%,9%,24%,13%,6%,0%
Shreeya Dalvi,0%,31%,9%,36%,9%,14%,0%
Shubham Pardeshi,3%,39%,11%,39%,8%,0%,0%
Swati Maurya,10%,43%,9%,26%,10%,1%,0%
Umme Ansari,2%,46%,6%,30%,11%,6%,0%
Vighnesh Gondhale,0%,100%,0%,0%,0%,0%,0%
Viraj Gada,0%,41%,8%,34%,15%,2%,0%
Grand Total,2%,43%,10%,32%,10%,3%,0%

In [115]:
# Pivot the DataFrame on 'hour_of_day' and aggregate the counts for each 'time_to_first_notes_bucket'
hour_of_day_view = df_lead.pivot_table(index='hour_of_day_lead_created', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
hour_of_day_view.loc['Grand Total'] = hour_of_day_view.sum()

# Reorder the columns according to the specified order
hour_of_day_view = hour_of_day_view[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [116]:
hour_of_day_view

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
hour_of_day_lead_created,,,,,,,
0,0,0,0,48,1,1,0
1,0,0,0,27,0,0,0
2,0,0,0,20,0,1,0
3,0,0,0,10,0,0,0
4,0,0,1,7,0,0,0
5,0,0,1,3,0,0,0
6,1,0,7,4,0,0,0
7,0,0,12,1,1,0,0
8,0,2,27,2,0,0,0
9,0,16,25,2,1,2,0
10,1,58,12,0,2,1,1
11,4,74,10,0,5,7,0
12,1,72,6,1,5,6,0
13,3,64,6,2,9,5,0
14,0,59,7,2,9,0,0
15,4,65,6,6,5,0,0
16,3,65,2,3,10,2,0
17,1,47,0,6,8,0,0
18,2,44,0,14,12,4,0
19,0,9,0,36,6,0,0
20,0,0,0,38,7,1,0
21,1,0,0,64,10,2,0
22,0,0,0,63,11,0,0
23,1,0,0,49,10,2,0
Grand Total,22,575,122,408,112,34,1

In [117]:
# Pivot the DataFrame on 'day_of_week' and aggregate the counts for each 'time_to_first_notes_bucket'
day_of_week_view = df_lead.pivot_table(index='day_of_week_lead_created', columns='time_to_first_notes_bucket', values='lead_id', aggfunc='count', fill_value=0)

# Add a row for Grand Total
day_of_week_view.loc['Grand Total'] = day_of_week_view.sum()

# Reorder the columns according to the specified order
day_of_week_view = day_of_week_view[['No Notes', 'Less than 2 hours', '2 hours to 6 hours', '6 hours to 24 hours', '24 hours to 48 hours', '48 hours to 72 hours', 'More than 72 hours']]

In [120]:
day_of_week_view

time_to_first_notes_bucket,No Notes,Less than 2 hours,2 hours to 6 hours,6 hours to 24 hours,24 hours to 48 hours,48 hours to 72 hours,More than 72 hours
day_of_week_lead_created,,,,,,,
0,3,177,21,116,2,1,1
1,1,158,30,64,2,0,0
2,1,53,7,64,7,0,0
3,6,59,13,70,6,0,0
4,3,87,21,62,4,12,0
5,8,41,30,32,91,21,0
Grand Total,22,575,122,408,112,34,1

In [75]:
df_lead.head()

,lead_id,lead_created_at,cur_status,lqt_agent,hybrid_branch,first_status_except_created_or_contacted,first_status_except_created_or_contacted_date,utm_source,qualified_date,utm_campaign,...,hours_to_first_task,time_to_first_notes_bucket,task_violation_percentage,task_violation_percentage_bucket,is_qualified,adjusted_days_diff,notes_days_percentage,follow_up_violation,hour_of_day_first_note,day_of_week_first_note
0,389071,2024-04-01 10:00:32.128624,LOST,NaN,Mumbai - HO,LOST,2024-04-01 13:17:17.114719,google,NaT,src-generic-core-tg-uk-geo-mumbai,...,NaN,2 hours to 6 hours,NaN,No tasks assigned,0,NaN,NaN,0,13.0,0.0
1,389379,2024-04-01 17:26:21.653943,OPPORTUNITY,Karan Chitalia,Chennai,OPPORTUNITY,2024-04-01 17:39:17.702370,google,NaT,src-generic-core-tg-usa-geo-hyderabad,...,0.001607,Less than 2 hours,0.0,Zero task violation,0,NaN,NaN,0,17.0,0.0
2,389666,2024-04-02 00:00:03.613832,LOST,Umme Ansari,Delhi,LOST,2024-04-02 10:38:55.043822,google,NaT,src-generic-course-level-tg-uk-geo-delhi-wan,...,NaN,6 hours to 24 hours,NaN,No tasks assigned,0,NaN,NaN,0,10.0,1.0
3,389627,2024-04-01 22:55:19.994663,LOST,Swati Maurya,Bengaluru,LOST,2024-04-02 12:06:41.525462,google,NaT,src-generic-core-tg-uk-geo-hyderabad-wan,...,NaN,6 hours to 24 hours,NaN,No tasks assigned,0,1.0,0.0,1,12.0,1.0
4,389919,2024-04-02 12:23:01.929503,OPPORTUNITY,Shubham Pardeshi,Mumbai - HO,OPPORTUNITY,2024-04-02 12:56:34.177978,google,NaT,src-generic-course-level-tg-uk-geo-mumbai-wan,...,0.001475,Less than 2 hours,0.0,Zero task violation,0,NaN,NaN,0,12.0,1.0

In [128]:
# Assuming 'df_lead' is your DataFrame

# Calculate the total leads, total tasks, and violated tasks for each agent
agent_summary = df_lead.groupby('lqt_agent').agg(
    total_leads=('lead_id', 'count'),
    total_tasks=('total_tasks', 'sum'),
    tasks_violated=('violated_tasks', 'sum')
).reset_index()

# Calculate the percentage of tasks violated for each agent
agent_summary['tasks_violated_percentage'] = (agent_summary['tasks_violated'] / agent_summary['total_tasks']) * 100

# Replace any potential NaN values with 0 (in case of no tasks assigned)
agent_summary['tasks_violated_percentage'].fillna(0, inplace=True)

In [129]:
agent_summary

,lqt_agent,total_leads,total_tasks,tasks_violated,tasks_violated_percentage
0,Aishwarya Prabhune,49,21,1,4.761905
1,Dalian Pereira,44,15,0,0.000000
2,Hardik Kamdar,60,41,1,2.439024
3,Harsh Sharma,50,28,0,0.000000
4,Kabir Dhameja,43,4,0,0.000000
5,Karan Chitalia,61,52,1,1.923077
6,Kartik Sawant,91,63,2,3.174603
7,Ketan More,1,0,0,0.000000
8,Mufida Loladiya,106,54,1,1.851852
9,Nikitha Naga,11,0,0,0.000000
10,Pravalika Gadam,2,0,0,0.000000
11,Rutuja More,3,1,0,0.000000
12,Saloni Shah,2,1,0,0.000000
13,Sara Solkar,62,14,1,7.142857
14,Saurab Rao,75,31,0,0.000000
15,Shania Aldons,49,29,2,6.896552
16,Shania Gonsalves,1,0,0,0.000000
17,Sharmishtha Chikhalkar,54,19,0,0.000000
18,Shreeya Dalvi,86,56,0,0.000000
19,Shubham Pardeshi,79,58,1,1.724138
20,Swati Maurya,68,66,0,0.000000
21,Umme Ansari,54,29,0,0.000000
22,Vighnesh Gondhale,1,0,0,0.000000
23,Viraj Gada,61,31,1,3.225806